   {% if messages %}
       <div id="notification-container" class="fixed top-0 right-0 m-3 z-50">
        {% for message in messages %}
             {% if message.tags == 'error' %}
                <div id="alert-border-error" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <div class="d-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="28" height="28">
                            <path d="M12 2C6.477 2 2 6.477 2 12s4.477 10 10 10 10-4.477 10-10S17.523 2 12 2zM11 14h2v2h-2v-2zm0-8h2v6h-2V6z"></path>
                        </svg>
                        <!-- <div class="ms-3">
                            <span>{{ message }}</span> <br>
                        </div> -->
                        <div class="ms-3">
                        <ul> 
                         {% if form.errors %}
                            {% for field, errors in form.errors.items %}
                                
                                    {% for error in errors %}
                                        <li>{{ field }}: {{ error }}</li>
                                    {% endfor %}
                                
                            {% endfor %}
                          {% endif %}
                          </ul>
                         </div>
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
        {% endfor %}
      </div>
    {% endif %}